<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Algoscale</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+SC" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" />
</head>

<body>
    <div class="container-fluid">
        <!-- Start: Navigation with Search -->
        <nav class="navbar mt-0 pt-0 fixed-top"
            style="font-size:14px;background-color: white; border-bottom: 1px solid rgba(168,160,160,0.29);height: 28px;">
            <div class="container">
                <span id="loc" style="opacity: 0.7;">Location: Bhubaneshwar</span>
                <span id="contact" style="opacity: 0.7;margin-right: 9px;">Contact No: +1-315-255-6235</span>
            </div>
        </nav>
        <nav class="navbar navbar-light navbar-expand-lg navigation-clean-search fixed-top"
            style="background-color: white; opacity: 1;margin-top: 28px;" id="navbar">
            <div class="container">
                <a href="/" style="all: unset !important;cursor:pointer !important;">
                    <h3 data-bs-hover-animate="pulse"
                        style="color: #FF965A; font-family:'Segoe UI',serif;font-weight: bolder;" id="brand">
                        Algoscale
                    </h3>
                </a>
                <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-1">

                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item " role="presentation">
                            <form class="search mt-2 mx-2"></button>
                                <i class="fa fa-search" style="opacity: 0.6;"></i>
                            </form>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" data-bs-hover-animate="pulse" href="/logout">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item" role="presentation">
                            <a type="button" data-bs-hover-animate="pulse" class="btn btn-outline secondary"
                                href="/login_page">
                                Login
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a type="button" data-bs-hover-animate="pulse" class="btn btn-outline secondary"
                                href="/signup_page">
                                Sign-up
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block content %}


        <div class='text-center' style="margin-top: 10%;">
            <div class="container my-5">
                {% if user.is_authenticated %}
                <h3 style="margin-left: -50%;">Hey {{ request.user }}, The Existing User ID are :</h3>
                <br><br>
                <br>



                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        IDS --- Delete button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for i in users %}
                        <li class="dropdown-item">{{i.id}} - {{i}} - <a href="delete/{{i.id}}"
                                class="btn btn-outline-danger btn-sm">Delete</a></li>
                        {% endfor %}</div>
                </div>

                {% else %}
                <p>Please Login to view your Profile and other details</p>
                {% endif %}
            </div>
        </div>
        {% endblock content %}


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        {% block js %} {% endblock %}
</body>

</html>